name: Renovate

on:
  schedule:
  - cron: '0/15 * * * *'
  workflow_dispatch:
    inputs:
      logLevel:
        type: choice
        required: true
        default: "info"
        options:
        - "info"
        - "debug"

env:
  LOG_LEVEL: ${{ github.event.inputs.logLevel || 'info' }}

jobs:
  renovate:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

    - name: Renovate
      uses: renovatebot/github-action@c91a61c730fa166439cd3e2c300c041590002b1d # v44.0.3
      with:
        configurationFile: renovate-global.json
        token: ${{ secrets.RENOVATE_TOKEN }}
