name: Renovate

on:
  schedule:
  - cron: '0/15 * * * *'
  workflow_dispatch:
    inputs:
      logLevel:
        type: choice
        required: true
        default: "info"
        options:
        - "info"
        - "debug"

env:
  LOG_LEVEL: ${{ github.event.inputs.logLevel || 'info' }}

jobs:
  renovate:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Renovate
      uses: renovatebot/github-action@3c68caaa9db5ff24332596591dc7c4fed8de16ce # v46.0.1
      with:
        configurationFile: renovate-global.json
        token: ${{ secrets.RENOVATE_TOKEN }}
